*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    padding: 10px;
    background-color: antiquewhite;
}
.social-media-link{
    margin-left: auto;
}
.social-media-link a{
    padding-right: 50px;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    background-color: ghostwhite;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}
nav li{
    list-style: none;
}
nav li a{
    padding-left: 25px;
    text-decoration: none;
}
main{
    width: 80vw;
    padding: 20px;
}
footer{
    padding: 20px;
    background-color: blanchedalmond;
    text-align: center;
}
.container{
    display: flex;
}
.container .sidebar{
    padding: 10px;
    background-color: ghostwhite;    width: 20vw;
    height: 80vh;
    text-align: center;
}
.container .sidebar .image img{
    height: 100px;
    width: 100px;
   
}
main h2{
    margin-left: 30px;
}
.boxes{
    display: flex;
    padding: 10px;
    margin-top: 20px;
    
}
.boxes .box1 ,.box2{
    height: 100px;
    width: 34vw;
    margin-left: 20px;
    background-color: rgb(32, 61, 61);
    padding: 50px 0 0 0;
    text-align: center;
    border-radius: 3px;
}
main .box3{
    height: 100px;
    width: 70vw;
    margin-left: 30px;
    background-color: green;
    padding: 50px 0 0 0;
    text-align: center;
    border-radius: 10px;
}